footer{
  // background-color: aquamarine;

  .container-footer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

    .colonna{
      width: 30%;

      img{
        width: 75%;
      }
    }

    .colonna:first-child ul li{
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-size: 11px;
      font-weight: 300;
      color: $grigio;
    }
  
    ul{
      // border: 1px solid blue;
      padding-bottom: 10px;
  
      &.lista-menu{
        // background-color: lightblue;
        // border: 1px solid blue;
  
        li:not(.first){
          padding: 5px 0px;
          font-family: 'Open Sans', sans-serif;
          font-size: 18px;
          font-weight: 300;
          color: $grigio;
        }
  
        li.first{
          padding-bottom: 10px;
          text-transform: uppercase;
          font-family: 'Teko', sans-serif;
          font-size: 26px;
          font-weight: 600;
          color: $grigio;
        }
      }
    }

  }

  img{
    width: 100%;
  }
}