#mainhome{
  background-image: url("../images/fondo-pag-speciali.jpg");
  background-size: contain;

  .containerMain{
    width: 80%;
    margin: auto;
    padding: 35px 0px;

    h2{
      color: $marrone;
      text-transform: uppercase;
      padding: 10px 0px;
      font-family: 'Teko', sans-serif;
      font-size: 70px;
      font-weight: 300;
    }

    .containerPasta{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      // border: 1px solid green;

      .card{
        width: 33%;
        // border: 1px solid blue;
        margin: 5px 0px;
        position: relative;
        overflow: hidden;

        @media screen and (max-width: 1112px){
          width: 48%;
         }

        @media screen and (max-width: 985px){
          width: 100%;
         }

        img{
          width: 100%;
          height: 100%;
        }

        .overlay{
          opacity: 0;
          transition: 0.1s;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: rgba(255,255,255,0.5);
          
          a{
            text-decoration: none;
          }
          
          h3{
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;
            font-weight: 400;
            color: $blu;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 15px;
          }

          hr{
            border: 1px solid $blu;
            width: 5%;
            margin: auto;
          }
        }
      }

      .card:hover .overlay{
        opacity: 1;
        transition: 0.3s;
      }
      .card:hover img{
        transform: scale(1.1);
        transition: 0.3s;
      }
      
    }
    
  }
  
}

#mainproduct{
  background-color: $azzurro;
  position: relative;

  h2{
    text-align: center;
    color: $bluSecondario;
    padding: 15px 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;

    a{
      font-weight: 300;
      text-decoration: none;
      color: $bluSecondario;
    }
  }

  hr{
    border: 1px solid white;
  }

  div{
    width: 80%;
    margin: auto;
    // border: 1px solid green;

    

    img{
      width: 100%;
      margin: auto;
      // border: 1px solid blue;
      display: block;

      &.srch{
        width: 75%;
      }

      &.srcp{
        margin: 15px 0px;
      }
    }

    table{
      width: 100%;

      tr:first-child{

        img{
          width: 60%;
        }
      }

      

      td{
        width: calc(100% / 3);
        // border: 1px solid orange;
        text-align: center;
        font-family: 'Teko', sans-serif;
        font-size: 40px;
        font-weight: 200;
        line-height: 44px;
        color: $bluSecondario;
        padding: 10px 0px;

        span{
          text-transform: uppercase;
        }
      }
    }

    p{
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      font-weight: 300;
      color: $bluSecondario;
      padding: 15px 0px;
    }
  }

  .fa-chevron-left{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 15px;
    background-color: rgba(255,255,255,0.5);
  }

  .fa-chevron-right{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 15px;
    background-color: rgba(255,255,255,0.5);
  }
}

#mainnews{
  h1{
    width: 100%;
    padding: 30px 0px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to bottom right,#000149 0%, #23556d 100%);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
  }
}




// // Ipad Pro */
// @media screen and (max-width: 1112px){
//   
// }

// /* Galaxy S9+, Iphone */
// @media screen and (max-width: 985px){

// }